/build/
/kobo-forma-work/
/elipsa2e-work/
/oasis-1-2-work/
/pw5-work/
/firmware/*
!/firmware/README.md
!/firmware/.gitkeep
/machines/*
!/machines/README.md
!/machines/.gitkeep
__pycache__/
*.pyc
.DS_Store
